-
  function css_path(file_name) {
    return `${page_layer}assets/css/${file_name}`
  }

-
  function js_path(file_name) {
    return `${page_layer}assets/js/${file_name}`
  }

-
  function img_path(file_name) {
    return `${page_layer}assets/img/${file_name}`
  }


-
  var page = {
    meta: {
      url: '',
      title: '',
      keyword: '',
      description: '',
      ogImage: '',
      ogType: ''
    }
  }
