meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
title #{page.title}
meta(name="description", content="")
meta(property="og:type", content="website")
meta(property="og:url", content="")
meta(property="og:title", content="")
meta(property="og:image", content="")
meta(property="og:description", content="")
meta(property="og:site_name", content="")
meta(property="og:locale", content="ja_JP")
meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="@site_account")
meta(name="twitter:creator", content="@individual_account")
meta(name="twitter:url", content="")
meta(name="twitter:title", content="")
meta(name="twitter:description", content="Content description less than 200 characters")
meta(name="twitter:image", content="")
link(rel="apple-touch-icon", href=img_path + "custom-icon.png")
link(rel="icon", type="image/x-icon", sizes="32x32" href=img_path + "favicon.ico")
block css
  link(rel="stylesheet", href=css_path + "style.css")
