meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
title #{page.meta.title}
meta(name="keyword", content!=page.meta.keyword)
meta(name="description", content!=page.meta.description)
meta(property="og:type", content!=page.meta.ogType)
meta(property="og:url", content!=page.meta.url)
meta(property="og:title", content!=page.meta.title)
meta(property="og:image", content!=page.meta.ogImage)
meta(property="og:description", content!=page.meta.description)
meta(property="og:site_name", content!=page.meta.title)
meta(property="og:locale", content="ja_JP")
meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="@site_account")
meta(name="twitter:url", content!=page.meta.url)
meta(name="twitter:title", content=page.meta.title)
meta(name="twitter:description", content!=page.meta.description)
meta(name="twitter:image", content!=page.meta.ogImage)
link(rel="apple-touch-icon", href=img_path + "custom-icon.png")
link(rel="icon", type="image/x-icon", sizes="32x32" href=img_path + "favicon.ico")
block css
  link(rel="stylesheet", href=css_path + "style.css")
